services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres-service
    hostname: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/project-presenter-api/postgres/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: api-service
#    restart: always
    environment:
      - PYTHONPATH=:src
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    command: ["/bin/bash", "docker/entrypoint.sh"]
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data: